//
// Placeholder Newline
//

@placeholder-newline-color: @text-color-muted;

.mce-content-body .mce-placeholder-newline {
  &:not(.mce-visualblocks)::before {
    color: @placeholder-newline-color;
    content: attr(data-mce-placeholder-newline);
    pointer-events: none;

    @media (forced-colors: active) {
      color: highlight;
      filter: brightness(30%);
    }
  }
}
